// mixins
@mixin flex-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: 0px 0px 2px 2px $dark;
}

@mixin border {
  border: none;
  border-radius: 0.2em;
}

@mixin button {
  background-color: $orange;
  color: $light;
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em;
}

/* variables */
$orange: #e4a516;
$light-orange: #f5dda8;
$dark: #1c1503;
$light: #fcf4e2;
$deep-green: #085517;
$bright-green: #b0ee6d;

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  @include flex-display;
  background-image: url("../images/background.png");
  background-size: cover;
  color: $dark;
  font-family: "Muli", sans-serif;
}

h1, #login-header {
  font-family: "Righteous", cursive;
  padding: .5em;
}

h2, p {
  padding: .5em;
}

#login-holder {
  @include flex-display;
  @include box-shadow;
  @include border;
  background-color: $light;

  #login-form {
    @include flex-display;

    #login-error-msg {
      background-color: $light-orange;
      border: 0.1em solid $orange;
      border-radius: 0.1em;
      color: $dark;
      font-size: 0.8em;
      font-weight: bold;
      margin: 0.2em;
      opacity: 0;
      padding: 0.4em;
    }

    #login-form-submit {
      @include box-shadow;
      @include border;
      @include button;
      margin-bottom: .5em;
    }
  }
}

.login-form-field {
  @include border;
  color: $dark;
  border-bottom: 0.1em solid $dark;
  margin: 0.5em;
  outline: none;
  padding: 1em;
  width: 70%;
  &::placeholder {
    color: $orange;
  }
}

.dashboard-section {
  @include flex-display;
  @include box-shadow;
  @include border;
  background-color: $light;
  margin: 1em;
  width: 75%
}

#search-btn {
  @include box-shadow;
  @include border;
  @include button;
}

.hide {
  display: none;
}
