/* variables */
$orange: #e4a516;
$light-orange: #f5dda8;
$dark: #1c1503;
$light: #fcf4e2;
$deep-green: #085517;
$bright-green: #b0ee6d;

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  align-content: space-around;
  align-items: center;
  background-image: url("../images/background.png");
  background-size: cover;
  color: $dark;
  display: flex;
  flex-direction: column;
  font-family: "Muli", sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
}

h1 {
  font-family: "Righteous", cursive;
}

#login-holder {
  align-content: space-around;
  align-items: center;
  background-color: $light;
  border-radius: 1em;
  box-shadow: 0px 0px 3px 3px $dark;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  width: 50%;
}

#login-error-msg {
  background-color: $light-orange;
  border: 0.1em solid $orange;
  border-radius: 0.1em;
  color: $dark;
  display: flex;
  font-size: 0.8em;
  font-weight: bold;
  justify-content: center;
  margin: 0.2em;
  opacity: 0;
  padding: 0.5em;
  text-align: center;
  width: 70%;
}

#login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-field::placeholder {
  color: $dark;
}

.login-form-field {
  color: $dark;
  border: none;
  border-bottom: 0.1em solid $dark;
  border-radius: 0.1em;
  margin: 0.5em;
  outline: none;
  padding: 1em;
  width: 70%;
}

#login-form-submit {
  background-color: $orange;
  border: none;
  border-radius: 0.2em;
  color: $light;
  font-weight: bold;
  font-size: 1em;
  padding: 0.8em;
  width: 70%;
}
